@charset "UTF-8";
/*reset css*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1840px;
  padding: 0 20px;
}

.header {
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 3;
  max-width: 160px;
}

.header__logo img {
  width: 100%;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.header__list {
  margin: 0 12px 0 0;
}

.header__list:last-child {
  margin: 0;
}

.header__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
}

.header__link span {
  padding: 7px 9px;
}

.header__burger {
  display: none;
}

.header__mobile {
  display: none;
}

.header__link-animation {
  --border-width: 1px;
  --animation-speed: 0.5s;
  --color: $color-black;
  color: var(--color);
  position: relative;
  display: inline-block;
  border: var(--border-width) solid transparent;
}

.header__link-animation .header__border-animation {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background: #fff;
  z-index: 1;
  border: solid var(--border-width) transparent;
}

.header__link-animation .header__border-animation:hover {
  color: #d1a954;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.header__link-animation:before, .header__link-animation:after {
  content: "";
  position: absolute;
  background: #d1a954;
}

.header__link-animation:focus:before, .header__link-animation:hover:before {
  -webkit-animation: beforeBorders var(--animation-speed) forwards ease-in-out;
          animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}

.header__link-animation:focus:after, .header__link-animation:hover:after {
  -webkit-animation: afterBorders var(--animation-speed) forwards ease-in-out;
          animation: afterBorders var(--animation-speed) forwards ease-in-out;
}

.header__link-animation:focus, .header__link-animation:hover {
  -webkit-animation: borderColors var(--animation-speed) steps(1) forwards;
          animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}

.header__link-animation:focus .header__border-animation, .header__link-animation:hover .header__border-animation {
  -webkit-animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
          animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
  -webkit-animation-delay: calc(var(--animation-speed) / 5 * 2);
          animation-delay: calc(var(--animation-speed) / 5 * 2);
}

@-webkit-keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@-webkit-keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@-webkit-keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: #d1a954;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: #d1a954;
    border-right-color: #d1a954;
    border-bottom-color: transparent;
    border-left-color: #d1a954;
  }
  100% {
    border-top-color: #d1a954;
    border-right-color: #d1a954;
    border-bottom-color: #d1a954;
    border-left-color: #d1a954;
  }
}

@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: #d1a954;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: #d1a954;
    border-right-color: #d1a954;
    border-bottom-color: transparent;
    border-left-color: #d1a954;
  }
  100% {
    border-top-color: #d1a954;
    border-right-color: #d1a954;
    border-bottom-color: #d1a954;
    border-left-color: #d1a954;
  }
}

.services {
  padding: 130px 0 120px 0;
  color: #fff;
}

.slider {
  margin: 0 -15px 60px -15px;
  padding: 0;
  min-width: 0;
}

.slider__card {
  max-width: 580px;
  min-width: 0;
  margin: 0 15px;
  position: relative;
}

.slider__image {
  top: 0;
  left: 0;
  width: 100%;
}

.slider__image img {
  width: 100%;
}

.slider__description {
  position: absolute;
  width: 100%;
  padding: 20px 15px;
  left: 0;
  bottom: 0;
  background: rgba(209, 169, 84, 0.9);
  text-align: center;
}

.slider__text {
  max-width: 550px;
  margin: 0 auto;
  padding: 22px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.slider__title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 135%;
}

.slider__subtitle {
  font-size: 14px;
  line-height: 135%;
}

.slider__subtitle span {
  display: block;
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 172px;
  margin: 0 auto;
}

.slider__arrows-line {
  width: 144px;
  height: 1px;
  display: block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.slick-arrow {
  font-size: 0;
  width: 5px;
  height: 9px;
}

.slick-prev {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: -1px 9px 0 0;
  background: url(../img/2_services/arrow-left.svg) no-repeat center center;
}

.slick-next {
  display: block;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: -1px 0 0 9px;
  background: url(../img/2_services/arrow-right.svg) no-repeat center center;
}

input[type="range"] {
  -webkit-appearance: none;
  /* Скрывает слайдер, чтобы можно было создать свой */
  max-width: 144px;
  /* Указание параметра ширины требуется для Firefox. */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3px;
  margin: -1px 0 0 0;
  width: 20px;
  background: #000;
  cursor: pointer;
  margin-top: center;
  /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
}

/* Тоже самое для Firefox */
input[type="range"]::-moz-range-thumb {
  height: 3px;
  width: 20px;
  margin: -1px 0 0 0;
  background: #000;
  cursor: pointer;
  margin-top: center;
}

/* Тоже самое для IE */
input[type="range"]::-ms-thumb {
  height: 3px;
  width: 20px;
  margin: -1px 0 0 0;
  background: #000;
  cursor: pointer;
  margin-top: center;
}

input[type="range"] {
  -webkit-appearance: none;
  min-width: 144px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  min-width: 144px;
  height: 1px;
  margin: -1px 0 0 0;
  cursor: pointer;
  background: #e5e5e5;
}

input[type="range"]::-webkit-slider-thumb {
  height: 3px;
  width: 20px;
  margin: -1px 0 0 0;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e5e5e5;
}

input[type="range"]::-moz-range-track {
  min-width: 144px;
  height: 1px;
  cursor: pointer;
  background: #e5e5e5;
}

input[type="range"]::-moz-range-thumb {
  height: 3px;
  width: 20px;
  margin: -1px 0 0 0;
  background: #000;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  max-width: 144px;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #e5e5e5;
}

input[type="range"]::-ms-fill-upper {
  background: #e5e5e5;
}

input[type="range"]::-ms-thumb {
  height: 3px;
  width: 20px;
  margin: -1px 0 0 0;
  background: #000;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #e5e5e5;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #e5e5e5;
}

/* Слайдер */
.slick-slider {
  position: relative;
  z-index: 1;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.restaurant {
  position: relative;
  padding: 0 0 90px 0;
}

.restaurant::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  bottom: 0;
  max-height: 765px;
  background: rgba(126, 126, 126, 0.07);
}

.restaurant__heading {
  margin: 0 auto 60px auto;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__title {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222;
}

.restaurant__logo {
  margin: 0 0 10px;
}

.restaurant__subtitle {
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #222;
}

.restaurant__video {
  max-width: 920px;
  margin: 0 auto 90px auto;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.25);
          box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.25);
  position: relative;
}

.restaurant__video img {
  width: 100%;
}

.restaurant__video-link {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(../img/3_restaurant/play.svg) no-repeat left 29px center/30px, #d1a954;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}

.restaurant__text-wrapper {
  max-width: 1115px;
  margin: 0 auto;
}

.restaurant__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -55px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}

.restaurant__block-left {
  max-width: 355px;
  margin: 0 70px 0 0;
}

.restaurant__block-left-img {
  margin: 0 auto 33px auto;
  max-width: 202px;
}

.restaurant__block-left-img img {
  width: 100%;
}

.restaurant__block-left-text span {
  display: block;
  margin: 0 0 15px 0;
  color: #000;
}

.restaurant__block-right {
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant__block-right-description {
  max-width: 255px;
  margin: 0 10px 39px 0;
}

.restaurant__block-right-description:nth-child(2) {
  margin: 0 0 30px 0;
}

.restaurant__block-right-description:nth-child(4) {
  margin: -20px 0 30px 0;
}

.restaurant__block-right-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.restaurant__block-right-title-image {
  margin: 0 20px 0 0;
}

.restaurant__block-right-title-image img {
  width: 100%;
}

.restaurant__block-right-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
}

.gallery {
  padding: 120px 0 150px 0;
}

.gallery__slider {
  max-width: 1110px;
  margin: 0 auto;
}

.gallery__slider-heading {
  width: 130px;
  margin: 0 101px;
  text-align: center;
}

.gallery__slider-title {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 135%;
  text-transform: uppercase;
  color: #000;
}

.gallery__slider-logo {
  margin: 0 0 10px 0;
}

.gallery__slider-subtitle {
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000;
}

.gallery__slider-card-1, .gallery__slider-card-2 {
  display: block;
}

.gallery__slider-card-1 img, .gallery__slider-card-2 img {
  width: 100%;
}

.gallery__slider-card:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 445px;
          flex: 1 1 445px;
}

.gallery__slider-card-1:nth-child(3) {
  margin: 0 0 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.gallery__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px 0;
  padding: 0;
}

.gallery__row:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__row-collumn {
  max-height: 630px;
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  padding: 120px 0 120px 0;
  background: url(../img/5_about/bg-about.jpg) no-repeat center center/cover;
}

.about__title {
  margin: 0 0 70px 0;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 670px;
  margin: 0 auto;
}

.about__link {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  background: #fff;
}

.about__plan {
  padding: 23px 58px;
  margin: 0 10px 0 0;
}

.about__presentation {
  padding: 22px 46px;
}

.instagram {
  padding: 120px 0 0 0;
}

.instagram__heading {
  margin: 0 auto 90px auto;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram__title {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222;
}

.instagram__logo {
  margin: 0 0 10px;
}

.instagram__subtitle {
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #222;
}

.instagram__slide {
  max-width: 320px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
}

.instagram__slide img {
  width: 100%;
}

.footer {
  padding: 40px 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 815px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1000px) {
  .header__logo {
    max-width: 120px;
  }
}

@media screen and (max-width: 965px) {
  .header__logo {
    max-width: 90px;
  }
}

@media screen and (max-width: 815px) {
  .header__list {
    margin: 0 3px 0 0;
  }
}

@media screen and (max-width: 790px) {
  .header__logo {
    max-width: 68px;
  }
}

@media screen and (max-width: 750px) {
  .header__desctop {
    display: none;
  }
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    margin: 0 0 0 50px;
    width: 90px;
    position: relative;
    z-index: 3;
  }
  .header__navigation {
    position: fixed;
    top: -200%;
    right: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #d1a954;
    padding: 75px 0 0 0;
    border-left: 2px solid #fff;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__list {
    margin: 0 0 24px 0;
  }
  .header__list:last-child {
    margin: 0;
  }
  .header__link {
    font-weight: 400;
  }
  .header__animation-mobile {
    position: relative;
    padding: 10px 20px 10px 20px;
    color: #fff;
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 50%;
  }
  .header__animation-mobile:before, .header__animation-mobile:after {
    content: "";
    position: absolute;
    -webkit-transition: inherit;
    transition: inherit;
    z-index: -1;
  }
  .header__animation-mobile:hover {
    color: #d1a954;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .header__animation-mobile:hover:before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .header__animation-mobile:hover:after {
    background: #fff;
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .header__link:before, .header__link:after {
    top: 0;
    width: 0;
    height: 100%;
  }
  .header__link:before {
    right: 0;
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
  }
  .header__link:after {
    left: 0;
  }
  .header__link:hover:before, .header__link:hover:after {
    width: 100%;
  }
  .header__burger {
    margin: 0 50px 0 0;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}

@media screen and (max-width: 555px) {
  .header__navigation {
    width: 100%;
    height: 100%;
    border: none;
  }
  body.lock {
    overflow: hidden;
  }
}

.header__burger.header-active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #d1a954;
}

.header__burger.header-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  left: 20px;
  width: 20px;
  top: 20px;
  background: #d1a954;
}

.header__burger.header-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  left: 20px;
  width: 20px;
  background: #d1a954;
}

.header__navigation.header-active {
  top: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@media screen and (max-width: 1400px) {
  .slider__description {
    padding: 10px 7px;
  }
  .slider__text {
    padding: 10px 0;
  }
  .slider__title {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 1000px) {
  .services {
    padding: 100px 0;
  }
}

@media screen and (max-width: 965px) {
  .services {
    padding: 80px 0;
  }
  .services__slider {
    margin: 0 0 40px 0;
  }
  .slider__card {
    margin: 0 6px;
  }
}

@media screen and (max-width: 815px) {
  .services {
    padding: 60px 0;
  }
  .slider {
    max-width: 600px;
    margin: 0 auto 30px auto;
  }
  .slider__card {
    max-width: 300px;
    min-width: 247px;
    margin: 0 5px;
  }
  .slider__description {
    padding: 3px;
  }
  .slider__text {
    padding: 5px;
  }
  .slider__title {
    margin: 0 0 5px 0;
  }
}

@media screen and (max-width: 555px) {
  .slider__card {
    max-width: 400px;
    margin: 0;
  }
  .slider__description {
    padding: 5px;
  }
  .slider__text {
    padding: 10px;
  }
}

.slick-track {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .restaurant__text-content {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .restaurant {
    padding: 0 0 50px 0;
  }
  .restaurant::before {
    height: 100%;
    max-height: 1110px;
  }
  .restaurant__video-link {
    width: 50px;
    height: 50px;
    background: url(../img/3_restaurant/play.svg) no-repeat left 17px center/20px, #d1a954;
    margin: -25px 0 0 -25px;
  }
  .restaurant__text-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurant__block-left {
    margin: 0 30px 0 0;
  }
  .restaurant__block-right {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    max-width: 270px;
  }
  .restaurant__block-right-description {
    margin: 0 0 30px 0;
  }
  .restaurant__block-right-description:nth-child(2) {
    margin: 0 0 30px 0;
  }
  .restaurant__block-right-description:nth-child(4) {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .restaurant {
    padding: 0 0 40px 0;
  }
  .restaurant::before {
    height: 100%;
    max-height: 100%;
  }
  .restaurant__video {
    margin: 0 auto 40px auto;
  }
  .restaurant__video-link {
    width: 40px;
    height: 40px;
    margin: -40px 0 0 -40px;
    background: url(../img/3_restaurant/play.svg) no-repeat left 14px center/15px, #d1a954;
    margin: -25px 0 0 -25px;
  }
  .restaurant__text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant__text-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .restaurant__block-left {
    margin: 0 0 30px 0;
  }
  .restaurant__block-right-title-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .gallery {
    padding: 80px 0;
  }
  .gallery__slider-heading {
    margin: 0 40px;
  }
  .gallery__slider-title {
    font-size: 15px;
    line-height: 115%;
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 40px 0;
  }
  .gallery__slider-heading {
    min-width: 90px;
    margin: 0 5px;
  }
  .gallery__slider-title {
    margin: 0 0 5px 0;
  }
  .gallery__slider-card-1:nth-child(3) {
    margin: 0 0 0 5px;
  }
  .gallery__row {
    margin: 0 0 5px 0;
  }
  .gallery__row-collumn {
    margin: 0 0 0 5px;
  }
}

@media screen and (max-width: 620px) {
  .about {
    padding: 50px 0 50px 0;
  }
  .about__title {
    margin: 0 0 40px 0;
  }
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__plan {
    margin: 0 0 20px 0;
    padding: 10px 20px;
  }
  .about__presentation {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 992px) {
  .instagram {
    padding: 40px 0 0 0;
  }
  .instagram__heading {
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copyright {
    margin: 0 0 15px 0;
  }
}
