//------> начало фиксированой шапки z-index нужно учитывать
.header {
	padding: 6px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	// border-bottom: 1px solid $color-gold;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-white;
		z-index: 3; // чтобы меню открывалось с под плашки, сначала было 3
	}
	&__body {
		position: relative;
		// z-index: 2; // сначала нужно было, чтобы удобней верстать и видеть все
		//<----- конец фиксированой шапки
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		z-index: 3;
		max-width: 160px;
		img {
			width: 100%;
			display: block;
		}
	}

	// &__navigation {
	// }

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 3;
	}

	&__list {
		margin: 0 12px 0 0;
	}

	&__list:last-child {
		margin: 0;
	}

	&__link {
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-black;
		-webkit-tap-highlight-color: transparent;
		span {
			padding: 7px 9px;
		}
	}

	&__burger {
		display: none;
	}

	&__mobile {
		display: none;
	}
}

//-----------------------> Анимация border
// свойства и значения
.header__link-animation {
	--border-width: 1px;
	--animation-speed: 0.5s;
	--color: $color-black;
	color: var(--color);
	position: relative;
	display: inline-block;
	border: var(--border-width) solid transparent;

	.header__border-animation {
		position: relative;
		display: inline-block;
		width: 100%;
		cursor: pointer;
		// padding: 7px 9px;
		background: $color-white;
		z-index: 1;
		border: solid var(--border-width) transparent;
	}

	.header__border-animation:hover {
		color: $color-gold;
		transition: all 0.7s ease 0s;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		background: $color-gold;
	}

	&:focus:before,
	&:hover:before {
		animation: beforeBorders var(--animation-speed) forwards ease-in-out;
	}

	&:focus:after,
	&:hover:after {
		animation: afterBorders var(--animation-speed) forwards ease-in-out;
	}

	&:focus,
	&:hover {
		animation: borderColors var(--animation-speed) steps(1) forwards;
		outline: none;

		.header__border-animation {
			animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
			animation-delay: calc(var(--animation-speed) / 5 * 2);
		}
	}
}
// сама анимация
@keyframes beforeBorders {
	0% {
		top: calc(var(--border-width) * -1);
		left: 50%;
		bottom: auto;
		right: auto;
		width: 0;
		height: var(--border-width);
	}
	33% {
		top: calc(var(--border-width) * -1);
		left: calc(var(--border-width) * -1);
		bottom: auto;
		right: auto;
		width: calc(var(--border-width) + 50%);
		height: var(--border-width);
	}
	66% {
		top: calc(var(--border-width) * -1);
		left: calc(var(--border-width) * -1);
		bottom: auto;
		right: auto;
		width: var(--border-width);
		height: calc((var(--border-width) * 2) + 100%);
	}
	100% {
		top: auto;
		left: calc(var(--border-width) * -1);
		bottom: calc(var(--border-width) * -1);
		right: auto;
		width: calc(var(--border-width) + 50%);
		height: calc((var(--border-width) * 2) + 100%);
	}
}

@keyframes afterBorders {
	0% {
		top: calc(var(--border-width) * -1);
		left: auto;
		bottom: auto;
		right: 50%;
		width: 0;
		height: var(--border-width);
	}
	33% {
		top: calc(var(--border-width) * -1);
		left: auto;
		bottom: auto;
		right: calc(var(--border-width) * -1);
		width: calc(var(--border-width) + 50%);
		height: var(--border-width);
	}
	66% {
		top: calc(var(--border-width) * -1);
		left: auto;
		bottom: auto;
		right: calc(var(--border-width) * -1);
		width: var(--border-width);
		height: calc((var(--border-width) * 2) + 100%);
	}
	100% {
		top: auto;
		left: auto;
		bottom: calc(var(--border-width) * -1);
		right: calc(var(--border-width) * -1);
		width: calc(var(--border-width) + 50%);
		height: calc((var(--border-width) * 2) + 100%);
	}
}

@keyframes borderColors {
	0% {
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	33% {
		border-top-color: $color-gold;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	66% {
		border-top-color: $color-gold;
		border-right-color: $color-gold;
		border-bottom-color: transparent;
		border-left-color: $color-gold;
	}
	100% {
		border-top-color: $color-gold;
		border-right-color: $color-gold;
		border-bottom-color: $color-gold;
		border-left-color: $color-gold;
	}
}
//<----------------------- конец анимации
