.restaurant {
	position: relative;
	padding: 0 0 90px 0;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 80%;
		z-index: -1;
		bottom: 0;
		max-height: 765px;
		// background: $color-gray-ligth;
		background: rgba(126, 126, 126, 0.07);
	}

	// &__body {
	// }

	&__heading {
		margin: 0 auto 60px auto;
		max-width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin: 0 0 25px 0;
		font-weight: 300;
		font-size: 36px;
		line-height: 145%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-black-light;
	}

	&__logo {
		margin: 0 0 10px;
	}

	&__subtitle {
		font-weight: 300;
		font-size: 9px;
		line-height: 11px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $color-black-light;
	}

	&__video {
		max-width: 920px;
		margin: 0 auto 90px auto;
		border: 10px solid $color-white;
		box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.25);
		position: relative;
		img {
			width: 100%;
		}
	}

	&__video-link {
		display: block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: url(../img/3_restaurant/play.svg) no-repeat left 29px center / 30px, $color-gold;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
	}

	&__text-wrapper {
		max-width: 1115px;
		margin: 0 auto;
	}

	&__text-content {
		display: flex;
		justify-content: center;

		margin: 0 -55px 0 0;
		font-weight: 300;
		font-size: 14px;
		line-height: 135%;
		color: $color-gray-ligth2;
	}

	&__block-left {
		max-width: 355px;
		margin: 0 70px 0 0;
	}

	&__block-left-img {
		margin: 0 auto 33px auto;
		max-width: 202px;
		img {
			width: 100%;
		}
	}

	&__block-left-text {
		span {
			display: block;
			margin: 0 0 15px 0;
			color: $color-black;
		}
	}

	&__block-right {
		max-width: 540px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__block-right-description {
		max-width: 255px;
		margin: 0 10px 39px 0;
	}

	&__block-right-description:nth-child(2) {
		margin: 0 0 30px 0;
	}

	&__block-right-description:nth-child(4) {
		margin: -20px 0 30px 0;
	}

	&__block-right-title-wrapper {
		display: flex;
		align-items: center;
		margin: 0 0 20px 0;
	}

	&__block-right-title-image {
		margin: 0 20px 0 0;
		img {
			width: 100%;
		}
	}

	&__block-right-title {
		align-self: flex-end;
		margin: 0;
		padding: 0;
		font-size: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-black;
	}
}
