$color-black: #000;
$color-black-light: #222;
$color-white: #fff;
$color-gray: #616161;
$color-gray-ligth: #e5e5e5;
$color-gray-ligth2: #616161;
$color-gray-ligth3: #f9f7f7;
$color-gray-ligth4: #d0d0d0;
$color-gold: #d1a954;

$font-family-Montserrat: "Montserrat", sans-serif;
